<div class="card-container">
    <mat-card class="mat-elevation-z3">
        <mat-card-title>
            Monitor de Baño
        </mat-card-title>

        <mat-card-content>
                <circle-progress
                    [percent]="porcentajePapel"
                    radius="100"
                    space="5"

                    outerStrokeWidth="10"
                    [outerStrokeColor]="outerStrokeColor"

                    innerStrokeWidth="100"
                    [innerStrokeColor]="innerStrokeColor"

                    animation="true"
                    animationDuration="300"
                    subtitle="Papel"
                    subtitleColor="#212121"

                    [renderOnClick]="false"
              ></circle-progress>
        </mat-card-content>
    </mat-card>
</div>